language: julia

os:
  - linux
  - osx

julia:
  - 0.7
  - nightly

matrix:
  allow_failures:
    - julia: nightly

notifications:
  email: false

script:
  - julia -e 'Pkg.clone(pwd()); Pkg.build("Canopy")'
  - julia --check-bounds=yes -e 'Pkg.test("Canopy", coverage=true)'

# push coverage results
after_success:
  - julia -e 'cd(Pkg.dir("Canopy")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder()); Codecov.submit(Codecov.process_folder())'
